<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://kit.fontawesome.com/52f3957177.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap" rel="stylesheet">
    <title>Login de Usuario</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body >
    <header class="home__header">
        <div class="home__header__box--logo">
          <a href="/">
            <img class="home__header--logo" src="/images/logo-mercado-liebre.svg" 
            alt="logo_mercado_liebre">
          </a>
        </div>
        <div class="home__header--search">
        
        <div class="home__header--search-input">
            <input  type="text" placeholder="Buscar productos, marcas">
        </div>
            
            <a href="" class="home__header--search-icon">
                <i class="fa-solid fa-magnifying-glass"></i>
            </a>
        </div>
        <div class="home__header__title">
            <i class="fa-solid fa-hand-holding-dollar"></i>
            <h1>Compra en cuotas sin tarjeta de credoto</h1>
        </div>
        <div class="home__header__box--menu">
            <ul>
                <li><a href="#Ofertas">Ofertas</a></li>
                <li><a href="#Tiendas">Tiendas Oficiales</a></li>
                <li><a href="#Vender">Vender</a></li>
                <li><a href="#Ayuda">Ayuda</a></li>
            </ul>
        </div>
        <nav class="home__header__nav--menu">
            <ul>
                <li><a href="/register">Creá tu cuenta <i class="fa-solid fa-address-card"></i></a></li>
                <li><a href="#">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a></li>
                <li><a href="#">Mis compras <i class="fa-sharp fa-solid fa-basket-shopping"></i></a></li>
            </ul>
        </nav>
        <div class="home__header__box--burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>
    <div class="login">
      <div class="login-container">
        <form action="pagina-principal.html" method="post">
          <div class="form-group">
            
            <input type="text" id="usuario" name="usuario" required placeholder="Nombre de usuario"/>
          </div>
          <div class="form-group">

            <input type="password" id="contrasena" name="contrasena" required placeholder="Elegí tu contraseña"/>
          </div>
          <button type="submit" class="btn">Enviar</button>
        </form>
      </div>
    </div>
  </body>
</html>
