:root {
  /* ---colores--- */
  --color-Amarillo: #eac926;
  --color-Azul: #03264c;
  --color-Celeste: #1259c3;
  --color-GrisOscuro: #666;
  --color-GrisClaro: #ebebeb;
  --color-Verde: #39b54a;
  /*--- letras--- */
  --size-CuerposDeTexto: 12px;
  --size-Titulares: 24px;
  --size-Precios: 18px;
  --size-Descuentos: 16px;
  --size-Descripciones: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    font-family: "Roboto";
  }
  
a {
  text-decoration: none;
}

li {
  list-style: none;
}

ul {
  padding: 0;
}
